{% extends "layout.html" %}
{% block title %}重设密码{% endblock title %}
{% load i18n %}
{% block content %}
    <div class="register-box row">
        <div class="block-center">
            <div class="col-xs-8 col-xs-offset-2">
                {% if user_profile %}
                    {% if expires %}
                        <div class="alert alert-danger" role="alert">
                            token已过期,请<a href="{% url 'account:forget' '' %}">重新申请</a>
                        </div>
                    {% else %}
                        <form class="form-horizontal" id="resetPasswordForm"  method="post">
                            {% csrf_token %}
                           {% for field in form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label class="control-label col-xs-4" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-xs-8">
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-inline">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group text-left">
                                <div class="col-xs-offset-4 col-xs-8">
                                    <button type="submit" class="btn btn-sm btn-primary btn-block">确认</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    <div class="alert alert-danger" role="alert">
                    链接已失效
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/validate-methods.js"></script>
    <script src="{{ STATIC_URL }}js/signup.js"></script>
{% endblock %}